{{!-- {{#if user}} --}}
    <h2>Welcome, {{ user.post.content }}!</h2>
    <p>This is your profile page my friend! And your email is: {{ user.email }}</p>
    <img src="{{id}}.picPath" class="card-img-top" alt="{{title}}">
{{!-- {{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}} --}}



{{!-- 
<nav>
  <a href="/">home</a>
</nav>
<a href="/post-form">Add a new post</a>
<h2>all posts</h2>
<ul>

  {{#each post}}
    <li>
      <a href="/post-display/{{id}}">{{picName}}</a>
      <a href="/post-display/{{id}}">{{content}}</a>
      <img src="{{picPath}}" class="card-img-top" alt="{{title}}">
    </li>
  {{/each}}
</ul> --}}